// @media (max-width: 1600px){
// }

// @media (max-width: 1300px){
    
// }

@media (max-width: 1156px){
    .steps__items::before {
        display: none;
    }
}

@media (max-width: 1075px){
    .header__items{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(#F7F7F7, .9);
        padding-top: 90px;
        padding-bottom: 90px;
        transition: transform .5s;
        transform: translateY(-100%);
        z-index: -1;
        &--active{
            transform: translateY(0%);
        }

    }
    .nav__btn{
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        display: block;
        cursor: pointer;
        z-index: 20;
    }
    
    .nav__btn::before,
    .nav__btn::after{
        content: '';
        width: 18px;
        height: 2px;
        background-color: #1C1B26;
        display: block;
        margin-bottom: 6px;
        transition: transform .3s;
    }
    .nav__btn::after{
        margin-bottom: 0;
        
    }
    .nav__btn-line{
        width: 18px;
        height: 2px;
        display: block;
        background-color: #1C1B26;
        margin-bottom: 6px;
    }
    .nav__btn.nav__btn--active{
        .nav__btn-line{
            opacity: 0;
            transition: opacity .0s;
        }
        &::after{
            width: 24px;
            transform: translateY(-8px) rotate(-135deg);
        }
        &::before{
            width: 24px;
            transform: translateY(8px) rotate(135deg);
        }
    }



    .top__item-img {
        display: none;
    }
    .top__item-img-mobile{
        display: inline-block;
        max-width: 318px;
    }
    .top__item-mobile{
        display: inline-block;
    }
    .top__items{
        justify-content: center;
        flex-wrap: wrap;
    }
    .top__item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .top__form-button{
    width: 159px;
    height: 60px;
    margin-left: 30px;
    }
    .top__form-item{
        width: 307px;
    }
    .page__top-titel{
        font-size: 47px;
    }
    .page-calculator__item{
        min-width: 155px;
    }
    .page-calculator__advantage{
        display: flex;
        flex-wrap: wrap;
    }
    .page-calculator{
        margin-bottom: 100px;
    }
    .steps__item-text{
        max-width: 118px;
    }
    .steps__items{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .questions__form-inner{
        display: none;
    }
    .questions__wrapper{
        justify-content: center;
    }
    .individual-schedule__wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header__items{
        flex-direction: column;
    }
    .header__item + .header__item{
        margin: 0;
    }
    .individual-schedule__wrapper{
        margin-bottom: 39px;
    }
    .footer__wrapper .header__item{
        margin-bottom: 24px;
    }
}


@media (max-width: 863px) {
    .top__form{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .top .top__form-item{
        margin-left: 0;
    }
    .top__benefit{
        
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .top__form{
        flex-direction: column;
        justify-content: center;
    }
    .top__form-button{
        width: 100%;
        margin-left: 0;
    }
    .footer{
        padding-top: 25px;
    }
    .footer__wrapper{
        margin-bottom: 30px;
    }
    .footer__wrapper .header__item{
        margin-bottom: 24px;
    }
}
@media (max-width: 770px){
    .calculator__select{
        flex-direction: column;
        align-items: center;
    }
    .calculator__select-button{
        margin-bottom: 12px;
        width: 330px;
    }
    .calculator__form-inner{
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    .calculator__form:last-child select{
        width: 344px;
    }
    .calculator__inner-botton{
        align-items: center;
        flex-direction: column;
    }
    .calculator__range{
        margin-bottom: 26px;
    }
}
@media (max-width: 716px){
    .top__form-button{
        margin-bottom: 90px;
    }
    .top{
        margin-bottom: 90px;
    }
    .top__benefit-titel{
        line-height: 152.4%;
        font-size: 24px;
    }
    .top__benefit-text{
        line-height: 152.4%;
        font-size: 14px;
    }
    .page__top{
        width: 100%;
        display: inline-block;
        justify-content: center;
    }
    .page__top-titel{
        font-size: 31px;
        line-height: 100.4%;
    }
    .page__top-subtitle{
        font-size: 16px;
    }
    .page__top-link{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 45px;
    }
    .special__card{
        width: 253px;
    }
    .special__card-btn{
        width: 290px;
        height: 70px;
    }
}

@media (max-width: 622px){
    .steps__items{
        flex-direction: column;
    }
    .steps__item-text{
        max-width: 239px;
        margin-left: 37px;
    }
    .steps__item{
        margin-bottom: 56px;
        display: flex;
    }
    .steps__items{
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before{
        content: '';
        position: absolute;
        width: 995px;
        height: 72px;
        transform: rotate(180deg);
        background-image: url('../images/line.svg');
        background-repeat: no-repeat;
    }
}
    .individual-schedule{
        background-color: #16449D;
    }
}

@media (max-width: 591px){
    .top__item-img-mobile{
        order: -1;
    }
    .top__form-button{
        margin-bottom: 60px;
    }
    .individual-schedule__btn{
        margin-left: 0;
    }
    .individual-schedule__form{
        flex-direction: column;
    }
    .individual-schedule__input + .individual-schedule__input {
        margin-left: 0;
    }
    .header__btn{
        display: none;
    }
}
@media (max-width: 591px){
    .calculator__form-select{
        min-width: 145px;
    }
}

@media (max-width: 503px){
    .page-calculator__item{
        max-width: 166px;
    }
    .footer{
        padding-top: 0;
    }
    .footer__wrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 43px;
    }
    .footer__wrapper .header__logo{
        margin-bottom: 24px;
    }
    .footer__wrapper .header__item{
        margin-bottom: 24px;
    }
    .footer__wrapper .header__items{
        align-items: flex-start;
    }
    .footer__wrapper .header__items{
        order: 1;
    }
    .footer__wrapper .header__item-btn{
        width: 100%;
        text-align: center;
    }
    .footer__wrapper .header__item-button{
        margin-bottom: 57px;
        width: 343px;
        height: 60px;
    }
    .footer__tel{
        display: none;
    }
    .footer__items{
        justify-content: center;
    }
}
@media (max-width: 503px){
    .calculator__form-inner .calculator__form-select select{
        width: 100%;
    }
    .calculator__form-select:last-child{
        width: 343px;
    }
    .requests__wrapper{
        flex-direction: column;
    }
    .dealer .page__top-link{
        margin-bottom: 35px;
    }
    .dealer__wrapper{
        margin-bottom: 80px;
    }
}
@media (max-width: 402px){
    .calculator__inner-botton{
        flex-wrap: nowrap;
    }
}