%Montserrat-Medium{
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
}
%Montserrat-Regular{
    font-family: "Montserrat-Regular", sans-serif;
    font-weight: 400;
}
%Montserrat-SemiBold{
    font-family: "Montserrat-SemiBold", sans-serif;
    font-weight: 600;
}
%OpenSans-Regular{
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 400;
}